.idea*

tree*
tree_code*
digrams*
unigrams*
tokenized*
perplexity*


all_words_en
all_words_en_code
all_words_fr
all_words_fr_code
test
test2
unknowns

corpus_en
corpus_fr
di_en
di_fr
test_tokenized
uni_en
uni_fr

traduction
unknowns_en
unknowns_fr

